@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Candara";
  src: url("/fonts/Candara.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Candara";
}

body {
  background: rgb(0, 0, 0, 0.05);
}

.cert-bg {
  background-image: url("/assets/stablenet.png");
  background-size: cover;
}
